{
  "presets": [
    [
        "@babel/preset-env",
        {
        "targets": {
            "browsers": [
              "last 2 versions"
            ]
        },
        "modules": false // Needed for tree shaking to work.
        }
    ],
  ],

  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
