html, body, .frame, .center, ol3-viewer {
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.container-fluid {
    padding: 0px;
}

.fixed-header {
    margin: 0px;
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
}

.frame {
    margin-left: -105px;
    padding-left: 110px;
    margin-right: -305px;
    padding-right: 320px;
}

.center {
    margin: 0px;
    padding-top: 40px;
}

.center-row1 {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
}

.center-row2 {
    max-height: 25px;
    margin-top: -25px
}

.slider-corner {
    max-height: 25px;
    max-width: 30px;
}

.time-slider {
    visibility: hidden;
    position: relative;
    z-index: 3;
    max-height: 25px;
    margin-left: -30px;
    padding-left: 50px
}

.plane-slider {
    visibility: hidden;
    position: relative;
    z-index: 3;
    max-width: 25px;
    height:100%;
    padding-top: 15px;
    padding-bottom: 25px;
}

.sidebar {
    float:left;
    height:100%;
    position: relative;
    z-index: 5;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

.col-splitter {
    position:relative;
    background-color: #e7e7e7;
    height:100%;
    float: left;
    width: 5px;
    cursor: col-resize;
    z-index: 10;
}

.left-split img {
    background-color:  #FFFFFF;
    position: relative;
    left: 0px;
    top: 40%;
    cursor: all-scroll;
}

.right-split img {
    background-color: #FFFFFF;
    position: relative;
    left: 0px;
    top: 40%;
    cursor: all-scroll;
}

.viewer {
    height: 100%;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 0px;
    margin-left: -30px;
}

.viewer-container {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.thumbnail-panel {
    width: 100px;
    max-width: 100px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

thumbnail-slider img {
    margin-top: 10px;
    cursor: pointer;
}

.right-hand-panel {
    width: 300px;
    max-width: 300px;
}

.right-hand-panel li a {
    padding: 0px 5px;
}

.right-hand-panel .row {
    min-width: 300px;
    height: 25px;
    margin-left: 2px;
    margin-right: 0px;
}

.right-hand-panel * {
    padding-left: 0px;
    padding-right: 0px;
}

.left-hand-panel-hidden {
    margin-left: 0px;
    padding-left: 0px;
}

.channel-range {
    float: left;
    height: 100%;
}

.channel-range span {
    height: 100%;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
}

.channel-range span input {
    height: 100%;
    margin: 0px;
    width: 55px;
    font-size: 11px;
}

.channel-slider {
    margin-top: 7px;
    height: 10px;
    float: left;
    min-width: 90px;
    margin-left: 7px;
    margin-right: 1px;
}

.channel-slider .ui-slider-handle {
    width: 10px;
}

.channel-color {
    font-size: 10px;
    height: 100%;
    float: left;
    margin-left: 2px;
    width: 25px;
}

.full-spectrum {
    width: 26px;
    padding: 1px
}
.sp-preview {
    margin: 0px;
    width: 20px;
    box-sizing: content-box;
}
.sp-preview-inner {
    width: 20px;
}

.sp-dd {
    display: none;
}

.sp-container {
    width: 178px;
    right: 6px;
    left: auto!important;
}

.channel-active {
    overflow-x: hidden;
    font-size: 10px;
    float: left;
    height: 100%;
    width: 50px;
    border-width: 2px;
    border-radius: 0px;
}
