/** BOOTSTRAP adjustments START **/
html, body, .frame, .center, ol3-viewer {
    height: 100%;
    overflow: hidden;
}

hr {
    border-top-color: rgb(227, 230, 232);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    float: left;
    min-width: 350px;
}

.container-fluid {
    padding: 0px;
}
/** BOOTSTRAP adjustments END **/

/** JQUERY UI adjustments START **/
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #708090;
	background: #778899;
	font-weight: normal;
	color: #ffffff;
}
.ui-spinner {
    height: 100%;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 50px;
    width: 15%;
}
.ui-spinner span {
    position: relative;
    left: -2px;
    top: -2px;
    width: 12px;
    float: left;
}
.ui-spinner input {
    padding-left: 2px;
    height: 100%;
    margin: 0px;
    width: 40px;
    font-size: 11px;
}
.ui-spinner a {
    width: 12px;
}
.ui-icon-triangle-1-s,.ui-icon-triangle-1-n {
    height: 100%;
}
/** JQUERY UI adjustments END **/

/** SPECTRUM colorpicker adjustments START **/
.color-range-replacer .sp-preview {
    background-image: none;
    margin-left: 2px;
    height: 20px;
    width: 80px;
}
.color-range-spectrum-container {
    position: relative!important;
    width: 195px;
    height: 220px;
    right: 100px;
    top: 12px!important;
    left: -180px!important;
}
.shape-fill-color-replacer .sp-preview {
    margin-left: 2px;
    background-image: none;
}
.shape-stroke-color-replacer .sp-preview {
    margin-left: 2px;
    background-image: url('images/line.png');
    background-repeat: no-repeat;
    background-position: center;
}
.shape-stroke-color-replacer .sp-preview-inner {
    opacity: 0.8;
}
.color-spectrum-container {
    position: absolute!important;
    width: 195px;
    height: 270px;
    top: 100px!important;
    left: 10px!important;
    line-height: 30px;
}
.color-spectrum-container .sp-picker-container {
    padding: 4px;
    width: 184px;
}
.color-spectrum-container .sp-input-container {
    width: 135px;
}
.color-spectrum-container .sp-thumb {
    width: 42px;
}
.color-spectrum-container span {
    width: 21px;
}

.color-spectrum-container span {
    background-image: none;
}
.sp-alpha {
    background-image: none;
    height: 20px;
    top: 25px;
}
/** SPECTRUM colorpicker adjustments END **/

.disabled-color {
    cursor:not-allowed;
    filter:alpha(opacity=65);
    -webkit-box-shadow:none;
    box-shadow:none;
    opacity:.65;
}
.header-content {
    height: 40px;
}
.header-content label {
    margin-left: 5px;
    line-height: 40px;
    font-weight: normal;
}
.link-url {
    height: 40px;
}
.link-url button {
    height: 40px;
}
.link-url div {
    background-color: #F8F8F8;
    opacity: 1;
    position: absolute;
    z-index: 1000;
    top: 7px;
    left: 60px;
    display: none;
    width: 400px;
}
.link-url input {
    width: 380px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}

.fixed-header {
    position: fixed;
    margin: 0px;
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
}

.frame {
    margin-left: -105px;
    padding-left: 110px;
    margin-right: -355px;
    padding-right: 365px;
}

.center {
    margin: 0px;
    padding-top: 40px;
}

.center-row1 {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
}

.center-row2 {
    max-height: 25px;
    margin-top: -25px
}

.slider-corner {
    max-height: 25px;
    max-width: 30px;
    margin-top: -20px;
}
.slider-corner span {
    font-size: 14px;
}
.slider-value {
    position: relative;
    font-size: 12px;
    background-color: #FFFFFF;
    display: none;
}

.time-slider {
    visibility: hidden;
    position: relative;
    z-index: 3;
    max-height: 25px;
    margin-left: -30px;
    padding-left: 75px;
}

.plane-slider {
    visibility: hidden;
    position: relative;
    z-index: 3;
    max-width: 25px;
    height:100%;
    padding-top: 15px;
    padding-bottom: 40px;
}

.dim-arrows {
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
}
.dim-arrow-up {
    background-image: url('images/arrow-up.png');
    margin-bottom: 8px;
    margin-left: -3px;
}
.player-up {
    background-image: url('images/play-up.png');
}
.dim-arrow-down {
    background-image: url('images/arrow-down.png');
    margin-top: 8px;
    margin-left: -3px;
}
.player-down {
    background-image: url('images/play-down.png');
}
.dim-arrow-left {
    background-image: url('images/arrow-left.png');
    margin-right: 8px;
    margin-top: -3px;
}
.player-left {
    background-image: url('images/play-left.png');
}
.dim-arrow-right {
    background-image: url('images/arrow-right.png');
    margin-left: 8px;
    margin-top: -3px;
}
.player-right {
    background-image: url('images/play-right.png');
}
.player-stop {
    background-image: url('images/play-stop.png');
}

.sidebar {
    float:left;
    height:100%;
    position: relative;
    z-index: 5;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

.col-splitter {
    position:relative;
    background-color: #e7e7e7;
    height:100%;
    float: left;
    width: 5px;
    cursor: ew-resize;
    z-index: 10;
}

.left-split img {
    background-color:  #FFFFFF;
    position: relative;
    left: 0px;
    top: 40%;
    cursor: pointer;
}

.right-split img {
    background-color: #FFFFFF;
    position: relative;
    left: 0px;
    top: 40%;
    cursor: pointer;
}

.viewer {
    height: 100%;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 0px;
    margin-left: -30px;
}

.viewer-container {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.thumbnail-panel {
    width: 100px;
    max-width: 100px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

thumbnail-slider img {
    margin-top: 10px;
    cursor: pointer;
}

.right-hand-panel {
    width: 350px;
    max-width: 800px;
    overflow-y: auto;
}

.right-hand-panel li a {
    padding: 0px 5px;
}

.right-hand-panel .row {
    min-width: 350px;
    max-width: 800px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 0px;
    width: 100%;
}

.left-hand-panel-hidden {
    margin-left: -5px;
    padding-left: 5px;
}

.save-settings {
    margin-top: 5px;
}

.checkbox-settings {
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.channel-range {
    width: 100%;
    height: 100%;
}

.channel-slider {
    margin-top: 10px;
    height: 10px;
    float: left;
    width: 40%;
    margin-left: 7px;
    margin-right: 1px;
}

.channel-slider .ui-slider-handle {
    width: 10px;
}

.channel-color {
    float: left;
    margin-left: 2px;
    width: 25px;
}
.luts {
    background: #f8f8f8;
    border: 1px solid #000;
    display: none;
    position: relative;
    z-index: 1000;
    top: 12px;
    left: -230px;
    max-height: 250px;
    overflow-y: auto;
    width: 250px;
}
.luts-title {
    text-align: center;
    font-weight: bold;
}
.luts-close {
    position: absolute;
    top: 2px;
    right: 3px;
}
.luts-item {
    margin-left: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}
.luts-preview {
    margin-right: 2px;
    background-size: 100% 740px;
    background-repeat: no-repeat;
    height: 13px;
    width: 100px;
}
.luts-name {
    position: relative;
    left: 105px;
    line-height: 13px;
    font-size: 13px;
}
.luts-color-picker {
    margin-bottom: 5px;
}
.luts-color-picker .sp-replacer {
    width: 145px;
}
.luts-color-picker .sp-preview {
    width: 115px;
}
.channel-mode {
    margin-top: 2px;
    width: 100%;
}
.channel-mode button {
    width: 33%;
}

.channel-active {
    overflow-x: hidden;
    font-size: 10px;
    float: left;
    height: 100%;
    min-width: 50px;
    width: 15%;
    border-width: 2px;
    border-radius: 0px;
}

.user-settings {
    cursor: pointer;
    float: left;
    border: 1px solid blue;
    width: 95px;
    margin: 2px;
}

.user-settings img {
    max-width: 90px;
    max-height: 90px;
}

.user-settings div {
    text-align: center;
    max-width: 90px;
    color: blue;
}

.regions-list {
    padding-top: 5px;
    height: 80%!important;
}

.regions-header {
    table-layout: fixed;
    width: 100%;
    min-width: 350px;
}

thead, tbody {
    width:100%;
    height:100%;
    display: block
}

.regions-header tr {
    height: 30px;
    display: block;
    width: 150%;
}

.regions-header th {
    box-sizing: border-box;
    white-space: nowrap;
    border: solid 2px;
    border-collapse: collapse;
}

.regions-header th div {
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
}

.regions-table {
    margin-top: 5px;
    table-layout: fixed;
    min-width:350px;
    max-width:800px;
    max-height: 300px;
    display: block;
    overflow-x: scroll;
    overflow-y: auto;
}

.regions-table tr {
    width: 150%;
    display: block;
}

.regions-table td {
    min-width: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    border-style: solid;
    border-color: rgba(255,255,255,0);
    border-width: 0px 2px 0px 2px;
    border-collapse: collapse;
}
.regions-table td div {
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
}

.regions-table td input {
    white-space: nowrap;
    overflow: hidden;
}

.roi-toggle  {
    width: 15px;
}

.shape-z {
    width: 50px;
}
.shape-t {
    width: 50px;
}

.shape-type {
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.shape-comment {
    width: 150px;
}

.shape-show {
    width: 40px;
}

.rectangle-icon {
    background-image: url('images/rectangle.png');
}

.ellipse-icon {
    background-image: url('images/ellipse.png');
}

.polygon-icon {
    background-image: url('images/polygon.png');
}

.line-icon, .polyline-icon {
    background-image: url('images/line.png');
}

.label-icon {
    background-image: url('images/label.png');
}

.point-icon {
    background-image: url('images/point.png');
}

.draw-icons {
    height:100%;
    float:left;
    width: 25px;
    margin: 2px 8px 2px 8px;
}

.draw-active {
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
}

.draw-inactive {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.draw-select-icon {
    background-image: url('images/select.png');
}

.draw-rectangle-icon {
    background-image: url('images/draw_rectangle.png');
}

.draw-ellipse-icon {
    background-image: url('images/draw_ellipse.png');
}

.draw-polygon-icon {
    background-image: url('images/draw_polygon.png');
}

.draw-line-icon, .draw-polyline-icon {
    background-image: url('images/draw_line.png');
}

.draw-arrow-icon {
    background-image: url('images/draw_arrow.png');
}

.draw-label-icon {
    background-image: url('images/draw_label.png');
}

.draw-point-icon {
    background-image: url('images/draw_point.png');
}

.histogram {
    display: none;
    float: left;
    background:white;
    border: solid #ccc 1px;
    margin-bottom: 5px;
    height: 125px;
    width: 330px;
}

.histogram-line {
  fill: none;
}

.delete-rois>.dropdown-menu {
    background-color: #f8f8f8;
}
.rois-dropdown {
    float: left;
}
.rois-dropdown>.dropdown-menu>li>a:hover,
.rois-dropdown>.dropdown-menu>li>a:focus,
.rois-dropdown>.dropdown-menu>.active>a,
.rois-dropdown>.dropdown-menu>.active>a:hover,
.rois-dropdown>.dropdown-menu>.active>a:focus {
    color: #333;
    background-color: transparent;
}

.shapes-edit .dropdown-menu {
    left: -55px;
}
.shapes-persistence div {
    float: left;
}

.shape-fill-color, .shape-stroke-color {
    float: left;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.shape-stroke-width, .shape-font-size {
    margin-right: 5px;
    float: left;
    padding-top: 2px;
}

.shape-stroke-width .ui-spinner {
    min-width: 50px;
    max-width: 50px;
    line-height: 28px;
    height: 28px;
}
.shape-font-size .ui-spinner {
    min-width: 50px;
    max-width: 50px;
    line-height: 28px;
    height: 28px;
}
.shape-font-size span {
    max-width: 38px;
}
.shapes-edit {
    line-height: 30px;
    margin: 5px;
}
.shape-edit-button {
    width: 100px;
    margin-left: 5px;
}
.shape-edit-comment {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 100px;
    width: 75%;
    float: left;
    padding-top: 1px;
}
.shape-edit-comment input {
    width: 100%;
    line-height: 28px;
    height: 28px;
}

.shape-edit-attachments {
    margin: 5px 5px 0px 15px;
    min-width: 300px;
    width: 100%;
    float: left;
    padding-top: 1px;
}
.shape-edit-attachments input[type=text] {
    float: left;
    width: 50px;
    line-height: 28px;
    height: 28px;
    font-size: 12px;
}
.shape-edit-attachments span {
    float: left;
    line-height: 30px;
    height: 30px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
}
.dim_locked {
    background-image: url('images/dim_locked.png');
    width: 24px;
}
.dim_unlocked {
    background-image: url('images/dim_unlocked.png');
    width: 24px;
}

.arrow-button button  {
    width: 35px;
}
.arrow-button button  {
    background-image: url('images/arrows_dropdown.png')!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
.arrow-button .dropdown-menu {
    left: -10px;
    min-width: 62px;
}
.arrow-button .dropdown-menu span {
    display: inline-block;
    margin-left: 2px;
    width: 12px;
}
.arrow-button .dropdown-menu a {
    display: inline-block;
    padding-left: 0px;
}
.regions-drawing-mode {
    margin-left: 10px;
    line-height: 30px;
}
.drawing-mode {
    float: left;
    margin-left: 2px;
    width: 100%;
    min-width: 200px;
}
.drawing-mode input {
    float: left;
}
.drawing-mode span {
    float: left;
}
.drawing-mode-apply {
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.drawing-mode-apply button {
    min-width: 300px;
}

.regions-attachment-options div {
    float: left;
    width: 100%;
}

.regions-attachment-options input {
    float: left;
    height: 28px;
    line-height: 30px;
}

.regions-attachment-options .aligned-text-input {
    float: left;
    margin-left: 0px;
    margin-right: 2px;
    width: 15px;
}

.collapse-up {
    float: right;
    height: 16px;
    width: 16px;
    background-image: url('images/collapse.png');
    background-repeat: no-repeat;
    background-position: center;
}

.expand-down {
    float: right;
    height: 16px;
    width: 16px;
    background-image: url('images/expand.png');
    background-repeat: no-repeat;
    background-position: center;
}

.collapsible-regions-header {
    margin-left: 2px;
    font-weight: bold;
    font-size: 12px;
    width: 80%;
    float: left;
}

.modal-dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top:  -100px;
}
.modal-content {
    width: 300px;
    max-height: 200px;
}
.modal-message .ok {
    width: 50px;
}
.confirmation_dialog .modal-title {
    margin: 5px;
}
.confirmation_dialog .close {
    margin-top: 5px;
    margin-right: 8px;
}
.confirmation_dialog .modal-header {
    padding: 2px;
}
.modal-footer {
    padding: 4px;
}
