html {
	width: 100%;
	height: 100%;
}

body {
	width: 97%;
	height: 97%;
}

#ome_viewer {
	width: 100%;
	height: 100%;
}

.ol-rotate {
	top:2.5em;
	right:.5em;
	transition:opacity .25s linear,visibility 0s linear;
}

#ome_context_menu {
	background-color: white;
	padding: 5px;
	border: 1px solid #cccccc;
	min-width: 150px;
	min-height: 20px;
}

#ome_context_menu hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

#ome_context_menu .context-head {
	width: 95%;
	height: 95%;
}
#ome_context_menu .context-title {
	font-weight: bold;
	text-decoration: underline;
}
#ome_context_menu .context-close {
	color: black;
	text-decoration: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
.context-selected {
	background-color: gray;
}

.ol-overviewmap {
    right: .5em;
    bottom: .5em;
    left: auto;
    left: initial;
}

.ol-overviewmap-box {
    border: 2px dotted rgba(255,0,0,255);
}

.ol-overviewmap:not(.ol-collapsed) button {
    bottom: 1px;
    right: 2px;
    position: absolute;
    left: auto;
    left: initial;
}

.ol-zoom {
    width: 40px;
}
.ol-zoom-1-1 {
    width: 38px!important;
}
.ol-zoom-fit {
    width: 38px;
    background-image: url('images/fit.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.ol-zoom-in {
    width: 38px!important;
}
.ol-zoom-out {
    width: 38px!important;
}
.ol-zoom-display {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,60,136,.5);
    width: 34px;
    height: 20px;
    margin-left: 1px;
    text-align: center;
}
